a {
   padding: 0.5em 0em;/*8px/16px*/
}

li {
   transition: 0.5s linear;
   color:white;
   list-style: none;
   padding:0.75em;/*12px/16px*/
}


img
{
   width: 230px; 
   height: 260px;
}

li:hover {
   transform: scale(0.8);
   background: rgba(0,0,0,.50);
}

div {
   background:gray;
   text-align: center;
   width: 100%;
}
ul {
   margin: 0%;
   padding: 0%;
}

p 
{
   position: relative;
   left: 20%;
}

div2
{
  width: 240px;
  border-radius: 20px 20px 20px 0px;
  border: 4px solid;
  border-color: black;
  background-color:black;
}

button
{
   position: relative;
   background-color: white;
   color: black;
}



/* En resoluciones mayores a 450px */
@media screen and (min-width: 450px) 
{
   a {
      display: none;
   }


   li {
    display: inline-block;
   }

   ul {
      display: block;
   }

   p
   {
     margin: 10px 0 0 10px;
     display: block;
   }

   div2
   {
     margin: 10px 0 0 10px;
     display: inline-block;
   }

}
/* En resoluciones menores a 450px */
@media screen and (max-width: 449px)
{
   a 
   {
      display: block;
   }

   li {
   transition: 0.5s linear;
      display: block;
   }
  
   li:hover 
   {
    transform: scale(0.9);
    background: rgba(0,0,0,.50)
   }

   p
   {
     left: 0%;
     display: block;
   }

   div2
   {
    margin: 40px 0 0 40px;
    display: block;
   }



}


